{% extends 'board_base.html' %}
{% load i18n %}

{% block sub_title %}{% trans "Unsubscribe from topic" %}{% endblock sub_title %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">{% trans "Unsubscribe from topic" %}</h5>
      </div>
      <div class="card-body">
        <p class="mb-3">{% trans "Would you like to unsubscribe from this topic?" %}</p>
        <form action="" method="post">{% csrf_token %}
          <input type="hidden" name="post" value="yes" />
          <button type="submit" class="btn btn-primary">확인</button>
          <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}" class="btn btn-secondary">취소</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
